<div class="container text-center">
    <div class="mt-5">
      <div class="card w-75 mx-auto">
        <div class="card-header">
          <h2>{{ title }}</h2>
        </div>
        <div class="card-body">
          <div class="container text-center">
            <form [formGroup]="repartidorForm" (ngSubmit)="onSubmit()">
              <div class="row mt-3">
                <div class="col">
                  <label for="usuarioRepart">Usuario del pedido</label>
                  <input
                    type="text"
                    formControlName="usuarioRepart"
                    class="form-control mt-2"
                    [ngClass]="{
                      'is-invalid': 
                      repartidorFormControls['usuarioRepart'].errors
                    }"
                  />
                </div>
                <div class="col">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    formControlName="nombre"
                    class="form-control mt-2"
                    [ngClass]="{
                      'is-invalid': 
                      repartidorFormControls['nombre'].errors
                    }"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="primerApellido">Primer Apellido</label>
                  <input
                    type="text"
                    formControlName="primerApellido"
                    class="form-control mt-2 w-50 mx-auto"
                    [ngClass]="{
                      'is-invalid':
                      repartidorFormControls['primerApellido'].errors
                    }"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="segundoApellido">Segundo Apellido</label>
                  <input
                    type="text"
                    formControlName="segundoApellido"
                    class="form-control mt-2 w-50 mx-auto"
                    [ngClass]="{
                      'is-invalid':
                      repartidorFormControls['segundoApellido'].errors
                    }"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="correoRepart">Correo Electronico</label>
                  <input
                    type="text"
                    formControlName="correoRepart"
                    class="form-control mt-2 w-50 mx-auto"
                    [ngClass]="{
                      'is-invalid':
                      repartidorFormControls['correoRepart'].errors
                    }"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="passwordRepart">Contraseña</label>
                  <input
                    type="text"
                    formControlName="passwordRepart"
                    class="form-control mt-2 w-50 mx-auto"
                    [ngClass]="{
                      'is-invalid':
                      repartidorFormControls['passwordRepart'].errors
                    }"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="provincia">Provincia</label>
                  <select
                    #provincia
                    formControlName="provincia"
                    class="form-select form-control text-center mt-2 mx-auto"
                    [ngClass]="{
                      'is-invalid': repartidorFormControls['provincia'].errors}"
                      (change)="seleccionarProvincia(provincia.value)"
                  >
                    <option *ngFor="let provincia of lista_provincias" [value]="provincia.numero">
                      {{ provincia.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <label for="canton">Canton</label>
                  <select
                    #canton
                    formControlName="canton"
                    class="form-select form-control text-center mt-2 mx-auto"
                    [ngClass]="{
                      'is-invalid': repartidorFormControls['canton'].errors}"
                      (change)="seleccionarCanton(canton.value)"
                  >
                    <option *ngFor="let canton of lista_cantones" [value]="canton.numero">
                      {{ canton.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <label for="distrito">Distrito</label>
                  <select
                    #distrito
                    formControlName="distrito"
                    class="form-select form-control text-center mt-2 mx-auto"
                    [ngClass]="{
                      'is-invalid': repartidorFormControls['distrito'].errors}"
                      (change)="seleccionarDistrito(distrito.value)"
                  >
                    <option *ngFor="let distrito of lista_distritos" [value]="distrito.numero">
                      {{ distrito.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="telefono_1">Teléfono 1</label>
                  <input
                    type="text"
                    formControlName="telefono_1"
                    class="form-control mt-2"
                    [ngClass]="{
                      'is-invalid':
                        repartidorFormControls['telefono_1'].errors
                    }"
                  />
                </div>
                <div class="col">
                    <label for="telefono_2">Teléfono 2</label>
                    <input
                      type="text"
                      formControlName="telefono_2"
                      class="form-control mt-2"
                      [ngClass]="{
                        'is-invalid':
                        repartidorFormControls['telefono_2'].errors
                      }"
                    />
                  </div>
              </div>
              <div class="form-group mt-5">
                <button
                  [disabled]="loading || repartidorForm.invalid"
                  class="btn btn-primary"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>