.container-dim {
    height: 100vh;
    padding: 0;
    background-color: #FBFAF0;
    overflow: hidden;
}

.delivery-pic {
    height: 100vh;
}

.delivery-image {
    max-width: 50vw;
    height: 100vh;
}

.login {
    height: 100vh;
    max-width: 35%;
    margin: auto;
    padding-top:15%;
}

form {
    display: block;
}